<div class="container col-4">
  <form [formGroup]="miFormulario"
        autocomplete="off"
        (ngSubmit)="login()">
    <div class="imgcontainer">
      <img src="../assets/avatar.jpg" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" formControlName="username">

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" formControlName="password">

      <button type="submit" [disabled]="miFormulario.invalid">Login</button>
      <!-- <button type="submit">Login</button> -->
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn" (click)="recuperarPassword()">Cancel</button>
      <span class="psw">Forgot <a routerLink="/auth/recuperar">password?</a></span>
    </div>
    
  </form>
</div>